body {
   
    height: 100vh;
    
    background: linear-gradient(#3eadcf, #abe9cd);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
}

h1 {
   
   font-size: 2em;
}

p {
  
   font-size: 1.5em;
}

a {
   color: white;
}
